In [2]:
import pre_processing
import statistics_calculation
import visualization
import pandas as pd
import importlib

In [144]:
importlib.reload(pre_processing)
CSV_FNAME = 'Mastersheet_training.csv'
master_df = pre_processing.load_and_preprocess_data(CSV_FNAME)

In [145]:
importlib.reload(statistics_calculation)
distance_data, summed_data = statistics_calculation.sum_total_distance_by_match_day(master_df)

In [149]:
summed_data

     Day  Session   Total Distance
0   MD+1         1            5763
1   MD+1         5           50212
2   MD+1         9           44389
3   MD+1        21           47638
4   MD+1        23           39183
5   MD+1        29           53541
6   MD+1        36           34904
7   MD+1        41           20968
8   MD+2        25           57126
9   MD+2        33           60712
10  MD+3        10           67505
11  MD+3        17           51840
12  MD+3        26           52389
13  MD+3        34           58908
14  MD+3        37           55084
15  MD-1         4           45032
16  MD-1         8           39273
17  MD-1        13           31495
18  MD-1        16           52377
19  MD-1        20           30244
20  MD-1        22           34919
21  MD-1        24           49794
22  MD-1        28           32366
23  MD-1        32           41853
24  MD-1        35           45711
25  MD-1        40           43727
26  MD-1        44           36390
27  MD-2         3           63999
28  MD-2         7           74941
29  MD-2        12           59703
30  MD-2        15           52884
31  MD-2        19           72811
32  MD-2        27           42662
33  MD-2        31           37348
34  MD-2        39           46321
35  MD-2        43           37322
36  MD-2        46           65962
37  MD-3         2           67871
38  MD-3         6           69940
39  MD-3        11           54528
40  MD-3        14           61150
41  MD-3        30           67386
42  MD-3        42           40287
43  MD-3        45           16065
44  MD-4        18           77101
45  MD-4        38           87424

In [150]:
distance_data

,Summed Total Distance,Confidence Interval (Low),Confidence Interval (High)
Day,,,
MD+1,37074.750000,22007.932133,52141.567867
MD+2,58919.000000,56573.882587,61264.117413
MD+3,57145.200000,51197.211286,63093.188714
MD-1,40265.083333,33499.272084,47030.894583
MD-2,55395.300000,42342.512028,68448.087972
MD-3,53889.571429,35765.977727,72013.165130
MD-4,82262.500000,75511.622406,89013.377594

In [61]:
importlib.reload(pre_processing)
distance_data_ordered = pre_processing.reorder_dataframe(distance_data)

In [71]:
importlib.reload(visualization)
visualization.visualize_total_distance_distribution(distance_data_ordered, summed_data)

In [136]:
last_practice_csv = 'test.csv'
last_practice_df = pre_processing.load_and_preprocess_data(last_practice_csv)
total_distance_last_practice = last_practice_df['Total Distance'].sum()
print(total_distance_last_practice)

48407.0

In [137]:
importlib.reload(statistics_calculation)
next_day = 'MD-3'  # Replace with your function to calculate the next day
desired_intensity, percentile_last_practice, desired_percentile_next_practice = statistics_calculation.calculate_next_intensity(
    last_practice_df, distance_data_ordered, next_day)
print(f"The desired intensity for the next practice is {desired_intensity:.2f} distance units.")

The desired intensity for the next practice is 62951.37 distance units.

In [138]:
percentile_last_practice
desired_percentile_next_practice
desired_intensity

62951.368279381306

In [139]:
importlib.reload(visualization)
next_day = 'MD-3'  # Replace with your function to calculate the next day

visualization.visualize_stats_go(last_practice_df, distance_data_ordered, next_day, desired_intensity)